################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GainChanger
/GainChangerSpecFlow/bin/Debug
/GainChangerSpecFlow/obj/Debug
/GainChangerSpecFlow/json-files
/GainChangerSpecFlow/GainChangerSpecFlow.csproj.user
/.vs
/packages
/GainChangerSpecFlow/bin/Release
/GainChangerSpecFlow/obj/Release
