################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GainChanger
/GainChangerSpecFlow/bin/Debug
/GainChangerSpecFlow/obj/Debug
